/*-----------------------------------------------------------------------------------------------------------FUENTE--*/
.montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.montserrat-semi {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}
/*---------------------------------------------------------------------------------------------------------BOTON DE SKIP PARA TECLADO--*/
.screen-reader-text {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color:#D11067;   
    color: white;
    opacity: 0;
}
.screen-reader-text:focus {
    left: 50%;  
    transform: translateX(-50%);
    opacity: 1;
    border: #172655  solid 10px;
}
/*------------------------------------------------------------------------------------------------------CUERPO DE PÁGINAS COMÚN--*/
body{
    margin: 0;
    overflow-x: hidden;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #172655;
}
*,*:after,*:before{
    box-sizing: border-box;
}
header *, footer *{
    margin:0;
    padding:0;
    list-style:none;
    color: white;
}
.container{
    width:94%;
    max-width:1200px;
    margin:0 auto;
    padding: 1em;
}
img {
    max-width: 100%;
    height: auto;
}
/*------------------------------------------------------------------------------------------------------------------ENCABEZADO COMÚN CON EL NAV--*/
#menustate {
    display: none;
  }
nav label{
    display: none;
}
.headerrosa{
    background-color: #D11067;
    padding-bottom: 3px;
    font-size: 14px;
}
header a{
    color: white;
    text-decoration: none;
}
.flexheader{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.listconta{
    display: flex;
    width: 100%;
}
.listconta li{
    padding-right: 30px;
}
.telefono{
    background-image: url(../IMG/phone.svg);
    background-repeat: no-repeat;
    height: 19px;
}
.email{
    background-image: url(../IMG/mail.svg);
    background-repeat: no-repeat;
}
.telefono a, .email a{
    padding-left: 25px;
}
.rrss{
    margin-left: auto;
}
.rrss ul{
    display: flex;
}
.rrss ul li{
    padding-left: 15px;
}
@media screen and (max-width: 600px){
    .flexheader{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .rrss{
        padding-right: 45%;
        margin-top: 2%;
    }
}
/*--------------------------------------------------------------------------------------------------------HEADER GRIS--*/
.headergris{
    background: url(../IMG/blackboard.jpg);
    background-size: cover;
}
.pizarrasup{
    display: flex;
}
/*------------------------------------------------------------------------------------------------------------MENÚ DE NAVEGACIÓN--*/
.nav{
    display: flex;
    margin-left: auto;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    padding-left: 0;
    margin-left: 50px;
    
}
nav ul li a:hover, nav ul li a:focus{
    color: white;
    border-color: white;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
.enlaamari{
    color: #FFF616;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 6px;
}
.login a:hover, .login a:focus{
    color: #D11067;
    border-color: white;
}
.signup a{
    background-color: white;
    border-radius: 21px;
    color: #D11067;
    border: none;
    min-width: 80px;
    min-height: 30px;
    text-align: center;
    padding: 10px;
}
.signup a:hover, .signup a:focus{
    background-color: #D11067;
    color: white;
    border: none;
    min-width: 80px;
    min-height: 30px;
    padding: 10px;
}
/*--RESTO DE ENCABEZADO*/
#h1index{
    margin-top: 50px;
    font-size: 55px;
}
#lemaylogoindex{
    text-align: center;
    margin-top: 20px;
}
#amarillo{
    color: #FFF616;
}
#lemaylogoindex p{
    margin-top: 60px;
    margin-bottom: 30px;
}
/*--BUSCADOR ENCABEZADO--*/
#primerform{
    justify-content: center;
    display: flex;
}
#buscador{
    margin-bottom: 70px;
    position: relative;
    width: 50%;
}
#buscador label{
    position: absolute;
    top: 19px;
    left: 15px;
    color:#172655;
}
@media screen and (max-width: 1000px){
    #buscador{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    #buscador label{
        display: flex;
        font-size: 15px;
    }
    #buscador{
        width: 100%;
    }
}
#buscador input{
    min-width: 100%;
    min-height: 55px;
    border-radius: 35px;
    border:1px solid;
    padding-left: 15px;
    color: #172655;
}
#buscaindex{
    border-radius: 21px;
    border: none;
    color: white;
    background-color: #D11067;
    padding: 15px 35px;
    background-image: url(../IMG/search.svg);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 80%;
}
#buscaindex:hover, #buscaindex:focus{
    border-radius: 21px;
    border: none;
    color: white;
    background-color: #172655;
    padding: 15px 35px;
    background-image: url(../IMG/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 8px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 80%;
}
@media screen and (max-width:1000px){
    #buscaindex{
    border-radius: 21px;
    border: none;
    color: white;
    background-color: #D11067;
    padding: 15px 35px;
    background-image: url(../IMG/search.svg);
    background-repeat: no-repeat;
    background-position: 8px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 73%;
    width: 25%;
    }
    #buscaindex:hover, #buscaindex:focus{
        border-radius: 21px;
        border: none;
        color: white;
        background-color: #172655;
        padding: 15px 35px;
        background-image: url(../IMG/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-position: 8px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        left: 73%;
        width: 25%;
    }
}
/*---------------------------------------------------------------------------------------------------BLOQUE DE 3 DIVS CON SUS IMÁGENES DE HEADER--*/
#tresdivsindex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
@media screen and (max-width: 600px){
    #tresdivsindex{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}
#tresdivsindex div{
    text-align: center;
}
.iconytext{
    font-size: 20px;
    margin-bottom: 15px;
}
#tresdivsindex div:nth-child(3){
    margin-bottom: 60px;
}
/*------------------------------------------------------------------------------------------------------FOOTER COMÚN--*/
footer{
    background-color: #172655;
    min-height: 300px;
    margin-top: 45px;
}
@media screen and (max-width: 1000px){
    .footizq{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        padding-bottom: 6rem;
        padding-left: 0;
    }
    .footcontac{
        display: flex;
        flex-wrap: wrap;
        margin-top: -40px;
    }
}
/*---------------------------------------------------------------------------------------------FORMUARIO DE NEWSLETTER--*/
.newsletter{
    position: relative;
}
.newsletter label{
    display: block;
    font-size: 15px;
    margin-top: 45px;
}
.newsletter input{
    color: white;
    background-color: #FFFFFF33;
    margin-top: 15px;
    margin-bottom: 45px;
    min-width: 80%;
    min-height: 45px;
    border-radius: 35px;
    border: none;
    padding-left: 15px;
}
.sendnewsle{
    background-image: url(../IMG/arrow.-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: none;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    position: absolute;
    left: 18rem;
    top: 36px;
}
.sendnewsle:hover, .sendnewsle:focus{
    background-image: url(../IMG/arrow.-right.svg);
    background-color: #D11067;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: none;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    position: absolute;
    left: 18rem;
    top: 36px;
}
/*---------------------------------------------------------------------------------------------------------FONDO COMÚN TEXTO LEGAL Y CRÉDITOS--*/
.menulegal{
    margin-bottom: 40px;
    font-size: 13px;
    display: flex;
}
.menulegal a{
    padding-left: 15px;
    text-decoration: none;
}
.creditosimg{
    font-size: 12px;
    max-width: 130%;
}
.creditosimg a{
    text-decoration: none;
    color: white;
}
.creditosimg a:hover, .creditosimg a:focus, .menulegal a:hover,.menulegal a:focus{
    text-decoration: underline;
}
.footizq{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contafooter a{
    text-decoration: none;
}
.footcontac ul li a{
    text-decoration: none;
}
.footcontac ul li a:hover, footcontac ul li a:focus{
    text-decoration: underline;
}
/*-----------------------------------------------------------------------------------------------------------------BLOQUE DERECHO DEL FOOTER--*/

.footcontac ul li{
    line-height: 30px;
}
/*---------------------------------------------------------------------------------------------------------------------------------TITULOS TIPOGRAFIA MONTSERRAT--*/
.font30{
    font-size: 30px;
}
#popularcourses{
    margin-top: 5rem;
}
#popularcourses h2, #c{
    margin-top: 40px;
    color: #D11067;
}
/*--------------------------------------------------------------------------------------------------------------------CUERPO INDEX.HTML--*/
/*--------------------------------------------------------------------------------------------------------------ETIQUETAS PARA ALGUNAS TARJETAS--*/
.label{
    float: left;
    color: white;
    background-color: #D11067;
    padding: 0.4rem 1rem;
    border-radius: 21px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.label.best-seller{
    background-color: #FFF616;
    color: #333333;
    left: auto;
    right: 10px;
}
/*-------------------------------------------------------------------------------------------------------------------------TARJETAS INDEX--*/
.boxcards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 3%;
    margin-top: -3%;
}
/*---------------------------------------------------------------------------RESPONSIVE MOBILE CARDS----*/
@media screen and (max-width: 1000px){
    .boxcards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card ul{
        justify-content: center;
    }
}
@media screen and (max-width: 600px){
    .boxcards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card ul{
        justify-content: space-between;
    }
}
.card{
    margin-top: 50px;
    margin-right: 30px;
    justify-content: center;
    border-radius: 21px;
    border: solid;
    border-color: #DEF5F0;
    border-width: 1px;
    overflow: hidden;
    position: relative;
}
.card a{
    text-decoration: none;
}
.card img:hover, .card img:focus{
    text-decoration: none;
    border-color: #172655;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: 0.5s ease;
}
.img-card{
    height: 12rem;
    overflow: hidden;
}
.card img{
    width: 100%;
}
.card-inside{
    margin-left: 4px;
}
.card p{
    font-size: 18px;
    text-align: left;
    clear: both;
    color: #7A1628;
}
.card ul{
    list-style: none;
    display: flex;
    font-size: 12px;
    padding-right: 5px;
}
.card ul li{
    padding-left: 18px;
}
.leccion{
    background-image: url(../IMG/lessons.svg);
    background-repeat: no-repeat;
    position: relative;
    right: 35px;
}
.duracion{
    background-image: url(../IMG/duration.svg);
    background-repeat: no-repeat;
    position: relative;
    right: 18px;
}
.nivel{
    background-image: url(../IMG/level.svg);
    background-repeat: no-repeat;
}
/*---------------------------------------------------------------------------------------------------------BOTÓN BROW ALL COURSES--*/
#allcourses{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
#allcourses a{
    color: #172655;
    border-color: #172655;
    border:1px solid;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    padding: 20px 20px;
    text-decoration: none; 
}
#allcourses a:hover, #allcourses a:focus{
    color: white;
    border: none;
    background-color: #D11067;
    min-height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    padding: 20px 20px;
    text-decoration: none;
}
/*-------------------------------------------------------------------------------------------------------------------------BLOQUE DE FONDO ROJO--*/
#fondorojo{
    background-image: url(../IMG/learn-path.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    text-align: center;
    color: white;
    padding-top: 5px;
}
@media screen and (max-width: 1000px){
    #fondorojo{
        padding-bottom: 50px;
    }
}
#fondorojo h2{
    font-size: 60px;
}
#getstarted{
    margin-top: 50px;
}
#getstarted a{
    color: white;
    border-color: white;
    border:1px solid;
    background-color: transparent;
    min-height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    text-decoration: none;
}
#getstarted a:hover, #getstarted a:focus{
    color: #FFF616;
    border-color: #FFF616;
    background-color: transparent;
    min-height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    text-decoration: none;
}
/*--------------------------------------------------------------------------------------------------------------------ONLINE LEARNING BLOQUE--*/
.online-solutions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.ulfoto{
    display: block;
    margin-bottom: 1rem;
}
#solutions{
    font-size: 60px;
    color: #7A1628;
}
#listasolution{
    list-style: none;
}
@media screen and (max-width: 600px){
    #listasolution{
        padding-left: 30px;
    }
}
#listasolution p{
    font-size: 15px;
}
#liderazgo::before{
    content: url(../IMG/leadership.svg);
    background-color: #DEF5F0;
    border-radius: 50%;
    position: relative;
    right: 30px;
    top: 30px;  
    width: 40px;
    height: 40px;
}
#liderazgo span{
    color: #7A1628;
}
#liderazgo p{
    padding-left: 59px;
}
#megafono::before{
    content: url(../IMG/promotion.svg);
    background-color: #E3EDFD;
    border-radius: 50%;
    position: relative;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
}
#megafono span{
    color: #7A1628;
}
#megafono p{
    padding-left: 59px;
}
#cohete::before{
    content: url(../IMG/rocket.svg);
    background-color: #F7E9E7;
    border-radius: 50%;
    position: relative;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
}
#cohete span{
    color: #7A1628;
}
#cohete p{
    padding-left: 59px;
}
/*-----------------------------------------------------------------------------------------------------------------------BOTON PARA REGISTRARSE--*/
#registernow{
    margin: 60px;
    padding-left: 15px;
}
#registernow a{
    color: #172655;
    border-color: #172655;
    border:1px solid;
    background-color: white;
    min-height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    text-decoration: none;
}
#registernow a:hover, #register a:focus{
    color: white;
    border: none;
    background-color: #D11067;
    min-height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    text-decoration: none;
}
    #estuson{
    margin-top: 15rem;
    margin-left: 6rem;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
}
    #estuson img{
        border-radius: 10px;
}
@media screen and (max-width: 1000px){
    .online-solutions{
        display: grid;
        grid-template-columns: 1fr;
    }
    #estuson{
        margin: 0;
        padding-left: 12rem;
    }
}
@media screen and (max-width: 600px){
    #estuson{
        margin: 0;
        transform: translate(-20%);
    }
}
/*----------------------------------------------------------------------------------------------------------GRID DE CAJAS AZULES INDEX.HTML--*/
#categorias{
    background-color: #EDEDED;
    min-height: 350px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#categorias h2{
    padding-top: 30px;
}
#categories{
    text-align: center;
    color: #D11067;
}
.cajasazul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-template-rows: 30px;
    grid-template-rows: min-content;
    grid-auto-flow: column;
    max-width:1200px;
    margin:0 auto;
}
@media screen and (max-width: 1000px) {
    .cajasazul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .cajasazul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
.cajasazul div{
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #172655;
}
.cajasazul div a{
    color: white;
    text-decoration: none;
}
.cajasazul div:hover, .cajasazul div:focus{
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #D11067;
}
.caja1{
    grid-row: 1;
    grid-column: 1;
}
.caja2{

    grid-row: 1;
    grid-column: 2;
}
.caja3{
    grid-column: 3;
    grid-row: span 2;
    align-content: center;
}
.caja4{
    grid-row: 1;
    grid-column: 4;
}
.caja5{
    grid-row: 2;
    grid-column: 1;
}
.caja6{
    grid-row: 2;
    grid-column: 2;
}
.caja7{
    grid-row: 2;
    grid-column: 4;
}
@media screen and (max-width: 1000px) {
    .caja1{
        grid-row: 1;
        grid-column: 1;
    }
    .caja2{
        grid-row: 1;
        grid-column: 2;
    }
    .caja3{
        grid-row: 2;
        grid-column: 1;
    }
    .caja4{
        grid-row: 2;
        grid-column: 2;
    }
    .caja5{
        grid-row: 3;
        grid-column: 1;
    }
    .caja6{
        grid-row: 3;
        grid-column: 2;
    }
    .caja7{
        grid-row: 4;
        grid-column: 1;
    }
}
@media screen and (max-width: 600px) {
    .caja1{
        grid-row: 1;
        grid-column: 1;
    }
    .caja2{
        grid-row: 2;
        grid-column: 1;
    }
    .caja3{
        grid-row: 3;
        grid-column: 1;
    }
    .caja4{
        grid-row: 4;
        grid-column: 1;
    }
    .caja5{
        grid-row: 5;
        grid-column: 1;
    }
    .caja6{
        grid-row: 6;
        grid-column: 1;
    }
    .caja7{
        grid-row: 7;
        grid-column: 1;
    }
}
/*----------------------------------------------------------------------------------------------------BLOQUE DEBAJO DE LAS CAJAS AZULES INDEX.HTML--*/
.instructorindex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
}
@media screen and (max-width: 600px){
    .instructorindex{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }
}
.instructorindex{
    width: fit-content;
}
/*----------------------------------------------------------------------------------------------------BECOME AN INSTRUCTOR INDEX.HTML--*/
.instructora{
    border-radius: 10px;
}
#textinstruct{
    margin-left: 30px;
}
@media screen and (max-width: 600px){
    #textinstruct{
        margin-left: 0;
    }
}
#textinstruct h2{
    color: #7A1628;
}
.tematica{
    font-size: 18px;
}
.apply{
    margin-top: 50px;
    margin-bottom: 50px;
}
.apply a{
    color: #172655;
    border-color: #172655;
    border:1px solid;
    background-color: white;
    min-height: 50px;
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    text-decoration: none;
}
.apply a:hover, .apply a:focus{
    color: white;
    border: none;
    background-color: #D11067;
    min-height: 50px;
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    text-decoration: none;
}
/*------------------------------------------------------------------APPLY2 EN BECOME.HTML---*/
.apply2{
    margin-top: 30px;
    margin-bottom: 60px;
    padding-left: 40px;
}
.apply2 a{
    color: #172655;
    border-color: #172655;
    border:1px solid;
    background-color: white;
    min-height: 50px;
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    text-decoration: none;
}
.apply2 a:hover, .apply2 a:focus{
    color: white;
    border: none;
    background-color: #D11067;
    min-height: 50px;
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px;
    text-decoration: none;
}          
/*------------------------------------------------------------------------------------------------BECOME-AN-INSTRUCTOR.HTML--*/
.flexmain{
    display: flex;
    line-height: 1.9em;
    letter-spacing: 0.4px;
}
@media screen and (max-width: 1000px){
    .flexmain{
        display: block;
    }
}
/*----------------------------------------------------------------------------------------------------------PRIMER PÁRRAFO BECOME.HTML--*/
#introduccion{
    font-size: 20px;
}
#artículo{
    margin-right: 60px;
}
/*---------------------------------------------------------------------------------------------------FOTO INSTRUCTORA--*/
#seccion1 img{
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: fit-content;
}
@media screen and (max-width: 1000px){
    #seccion1 img{
        width: fit-content;
        margin-left: 10%;
    }
}
@media screen and (max-width: 600px){
    #seccion1 p{
        width: 120%;
    }
    #seccion2 p{
        width: 120%;
    }

}
.subapart{
    color: #7A1628;
}
/*--------------------------------------------------------------------------------------------STEPS BECME.HTML--*/
#stepbox{
    border: solid 3px;
    border-color: #D11067;
    line-height: 2.5em;
    min-height: 170px;
    padding-top: 20px; 
    padding-bottom: 20px;
    margin-bottom: 50px;
}
#stepbox a{
    text-decoration: none;
    color: #D11067;
}
#stepbox a:hover, #stepbox a:focus {
    text-decoration: underline;
    color: #7A1628 ;
}
#listapasos ol{
    padding-left: 0; 
}
@media screen and (max-width: 600px){
    #listapasos ol{
        width: 120%;
    }
}
/*--------------------------------------------------------------------------------------------------ESTILO WHAT TYPE OF DEGREE--*/
#typedegree{
    border: solid 1px;
    border-color: #E3EDFD;
    margin-bottom: 25px;
    padding-left: 30px;
    color: #333333;
}
#gorro{
    background-image: url(../IMG/icon-academic.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
}
/*-------------------------------------------------------------------------------------------------ESTILO SKILLS--*/
#typeskills{
    border: solid 1px;
    border-color: #E3EDFD;
    padding-left: 35px;
    color: #333333;
}  
#gridskill{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 2.5%;
    padding-bottom: 2%;
}
@media screen and (max-width: 600px){
    #gridskill{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
/*------------------------------------------------------------------------------------------------------ESTILO CHEVRON--*/
.caractcargo::after {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1.5em;
	left: 40%;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1.5em;
    color: #333333;
    position: absolute;
}
.caractcargo:after {
	top: 100px;
	transform: rotate(135deg);
}
#outflecha::after{
    display: none;
}
/*-------------------------------------------------------------------------------------------------ESTILO ENLACES DE PÁRRAFO DEL <LI> 3 DE BECOME.HTML--*/
.listnum a{
    text-decoration: none;
    color: #172655;
}
.listnum a:hover{
    color: #7A1628;
    text-decoration: underline;
}
/*----------------------------------------------------------------------------------------H1 DE CONTACT.HTML Y BECOME..HTML--*/
section h1, #contact h1{
    color: #D11067;
    font-size: 35px;
}
/*--------------------------------------------------------------------------------------------SUBAPARTADOS BECOME Y CONTACT. HMTL--*/
.subapart{
    font-size: 24px;
}
/*-------------------------------------------------------------------------------------------ESTILO NÚMEROS DE STEPS BECOME A TUTOR--*/
#steps{
    list-style: none;
    counter-reset: num;
}
#steps .listnum{
    counter-increment: num;
    margin-top: 30px;
}
#steps .listnum::before{
    content: counter(num);
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px;
    min-width: 30px;
    padding-left: 9px;
}
#steps .listnum h3, #steps .listnum p{
    padding-left: 40px;
}
@media screen and (max-width: 1000px){
    #steps .listnum::before{
        left: 1px;
        margin-left: 15px;
    }
    #steps .listnum h3, #steps .listnum p{
        padding-left: 12px;
    }
}
@media screen and (max-width: 600px){
    #steps .listnum h3, #steps .listnum p{
        padding-left: 20px;
    }
}
/*-------------------------------------------------------------------------------------STEPS PARA SER PROFESOR--*/
#steps h3{
    font-size: 18px;
}
/*-------------------------------------------------------------------------------------------------------ESTILO ASIDES BECOME A INSTRUCTOR--*/
aside{
    width: 2000px;
    height: 20%;
    margin-top: 30px;
    position: sticky;
    top: 0;
}
@media screen and (max-width:1000px){
    aside{
        width: fit-content;
        margin-left: 30%;
        margin-top: 15%;
    }
}
@media screen and (max-width: 600px){
    aside{
        margin-left: 20%;
    }
}
#box1{
    position: absolute;
    width: 100%;
    top: -40px;
    text-align: center;
}
aside h3{
    border: solid 1px;
    background-color: #E3EDFD;
    text-align: left;
    padding-left: 14px;
}
@media screen and (max-width:1000px){
    aside h3{
        text-align: left;;
        padding-left: 10px;
    }
}
aside ol{
    border: solid 1px;
    padding-top: 25px;
}
@media screen and (max-width:1000px){
    aside ol{
        width: fit-content;
    }
}
.cargo{
    margin-bottom: 30px;
}
.caractcargo{
    list-style: none;
}
/*-------------------------------------------------------------------------------CAREER PATH BECOMEANDINS.HTML--*/
#progresoprofe{
    position: relative;
}
#progresoprofe h3{
    font-size: 18px;
}
#careerpath .cargo{
    margin-top: 70px;
    font-size: 16px;
}
#careerpath .cargo:first-child{
    margin-top: 0;
}
.caractcargo{
    font-size: 14px;
    margin-top: 15px;
    position: relative;
}
/*--------------------------------------------------------------------------------------------------------ICONOS DEL ASIDE DE BECOME.HTML--*/
.caractcargo:first-child{
    background-image: url(../IMG/calendar.svg);
    background-size: 8%;
    background-repeat: no-repeat;
}
.dinero::before{
    content: url(../IMG/money.svg);
    position: absolute;
    top:32px;
    left: -2px;
}
.cartera::before{
    content: url(../IMG/wallet.svg);
    position: absolute;
    top: 58px;
    left: -2px;
}

/*------------------------------------------------------------------------------------CONTACT.HTML--*/
#bloque1{
    display: flex;
}
@media screen and (max-width: 1000px){
    #bloque1{
        display: block;
    }
}
/*-------------------------------------------------------------------------------------------OFICINAS CONTACT.HTML*/
#oficinas h3{
    font-size: 18px;
    color: #D11067;
}
.oficina a{
    text-decoration: none;
    color: #7A1628
}
.oficina a:hover{
    text-decoration: underline;
}
.oficina{
    margin-bottom: 30px;
}
#boxofi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1000px){
    #boxofi{
        gap: 30px;
    }
}
@media screen and (max-width: 600px){
    #boxofi{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0%;
    }
}
/*--------------------------------------------------------------------------------------------------FORMULARIO CALL YOU--*/
#formcontact{
    width: 1000px;
    height: fit-content;
    background-color: #FEFBF4;
    border-radius: 21px;
    padding-left: 1%;
}
@media screen and (max-width: 1000px){
    #formcontact{
        margin-top: 10%;
        margin-left: 12%;
        width: 75%;
    }
    blockquote{
        width: 110%;
        margin-left: -20px;
    }
}
#formcontact legend, #formcontact h3{
    color: #7A1628;
}
#formcontact p{
    margin-bottom: 30px;
    width: 95%;
}
#formcontact fieldset, #formcontact fieldset ul{
    border: none;
    
    list-style: none;
}
fieldset ul{
    padding-left: 0;
}
#fieldset1{
    padding-left: 0;
}
#fieldset1 label{
    display: block;
    margin-top: 10px;
}
#fieldset1 input{
    width: 100%;
}
#fieldset2{
    margin-top: 15px;
}
#fieldset2, #fieldset2 ul{
    padding-top: 0;
    padding-left: 0;
    line-height: 1.8em;
}
#fieldset3{
    padding-left: 0;
}
#area{
    width: 100%;
    margin-bottom: 20px;
}
#fieldset4{
    padding-left: 0;
}
#fieldset4 label a{
    text-decoration: none;
    color: #D11067;
}
#callmeboton{
    text-align:  center;
    position: relative;
}
#callme{
    border-radius: 10px;
    color: white;
    background-color: #172655;
    border: solid 1px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}
@media screen and (max-width: 1000px){
    #callmeboton{
        width: 60%;
    }
}
@media screen and (max-width: 600px){
    #callmeboton{
        width: 80%;
    }
}
/*--------------------------------------------------------------------------------------------------------ESTUDIANTES EMBAJADORES ESTILOS*/
#embajadores h3{
    font-size: 18px;
}
figure p, figure blockquote, figure a{
    font-size: 14px;
}
/*---------------------------------------------------------------------------------------------CAJA ESTUDIANTES-----------*/
figcaption{
    position: relative;
}
#estubox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    margin-right: 20px;
}
@media screen and (max-width: 1000px){
    #estubox{
        margin-right: 0;
    }
}
@media screen and (max-width: 600px){
    #estubox{
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 0;
    }
}
.tarjeta{
    background-color: #EDEDED;
}
figure{
    text-align: center;
}
figcaption div{
    display: grid;
    justify-content: center;
    margin-top: 15px;
}
figcaption div a{
    text-decoration: none;
    color: #172655;
}
figure img{
    border-radius: 50%;
    border: #333333 solid 5px;
    margin-top: 20px;
}
#belgica, #canada, #bolivia, #marruecos{
    position: absolute;
    top: 28%;
    right: 28%;
    width: 35px;
    height: auto;
    border-color: white;
}
@media screen and (max-width: 1000px){
    #belgica, #canada, #bolivia, #marruecos{
        right: 30%;
    }
}
@media screen and (max-width: 600px){
    #belgica, #canada, #bolivia, #marruecos{
        right: 34%;
    }
}
blockquote{
    margin-left: 0;
    margin-right: 0;
}
.translate{
    text-decoration: none;
    color:#172655;
    margin-top: 10px;
    border-bottom: solid 1px;
}
.translate:hover, .translate:focus{
    font-weight: bold;
    border-bottom: solid 3px;
    color: black;
}
@media screen and (max-width: 600px){
    #fieldset1 input{
        width: 100%;
    }
}

/*-------------------------------------------------------------------MENU DE HAMBURGUESA---------*/
@media screen and (max-width: 1000px){
    #menustate {
        display: none;
      }
    nav label{
        cursor: pointer;
        display: grid;
        place-content: center;
        font-size: 2rem;
    }
    .hamburger-button {
        width: 1rem;
        height: 2.5rem;
      }
      nav ul,
      nav .close {
        display: none;
        background-color: black;
      }
      nav .close{
        padding-left: 195px;
      }
      nav ul{
        position: absolute;
      }
      nav ul li{
        padding-bottom: 20px;
      }
      #menustate:checked ~ nav :is(ul, .close) {
        display: block;
      }
      
      #menustate:checked ~ nav .open {
        display: none;
      }
      :is(#menustate:checked, #menustate:target) ~ nav :is(ul, .close) {
        display: block;
      }
      :is(#menustate:checked, #menustate:target) ~ nav .open {
    
        display: none;
      }
      .screen-reader-text {
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        border: 0;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        white-space: nowrap;
      }    
}